# {{ ansible_managed }}
[user]
        email = {{ email }}
        name = {{ full_name }}
        signingkey = {{ gpg_signing_key }}
[commit]
        gpgsign = true
[color]
        ui = auto
[credential]
        helper = osxkeychain
[diff]
        tool = nvimdiff
[difftool]
        prompt = false
